
<li>
    <a href="@Url.Action("GioHang","GioHang")" class="site-cart">
        @{
            if (ViewBag.TongSoLuong == null)
            {
                <span class="icon icon-shopping_cart"></span>
                <span class="count">0</span>
            }
            else
            {
                <span class="icon icon-shopping_cart"></span>
                <span class="count">@ViewBag.TongSoLuong</span>
            }
        }
    </a>
</li>

