@model dynamic
<div class="mb-4">
    <h3 class="mb-3 h6 text-uppercase text-black d-block" style="color: black;  font-weight: 600; font-size: 20px">Color</h3>
    @foreach (var item in Model)
    {
        <a href="#" class="d-flex color-item align-items-center">
            <span class="color d-inline-block rounded-circle mr-2"></span> <span class="text-black">@item.MauSac</span>
        </a>
        
    }
</div>
