@model dynamic
@using PagedList.Mvc
@{
    ViewBag.Title = "AllSanPham";
    Layout = "~/Views/Shared/_CuaHangLayouts.cshtml";
}
@section headertop {
    @{ Html.RenderAction("HeaderTopPartial", "Store");}
}
@section headerbottom {
    @{ Html.RenderAction("DanhSachLoai", "Loai");}
}
<div class="login">
    <div class="wrap">
        <div class="rsidebar span_1_of_left">
            <section class="sky-form">
                @{ Html.RenderAction("DanhSachNhanHieu", "NhanHieu");}
                @{ Html.RenderAction("DanhSachSize", "Size");}
            </section>
        </div>
        @{ Html.RenderAction("DanhSachSanPham", "SanPham");}
        <div class="clear"></div>
    </div>
</div>
@section footer{
    @Html.Action("FooterPartial", "Store")
}

