<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="~/Content/Client/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Content/Client/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Client/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/Client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/aos.css">
    <link rel="stylesheet" href="~/Content/Client/css/style.css">
</head>
<body>
    
    <div class="site-wrap">
        @RenderSection("SiteNavBar")
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
                </div>
            </div>
        </div>
        @RenderBody()
    <div class="row">
        <div class="col-md-12">
            <div class="site-section site-blocks-2">
                <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-7 site-section-heading pt-4">
                        <h2>Categories</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 aos-init" data-aos="fade" data-aos-delay="">
                        <a class="block-2-item" href="#">
                            <figure class="image">
                                <img src="images/women.jpg" alt="" class="img-fluid">
                            </figure>
                            <div class="text">
                                <span class="text-uppercase">Collections</span>
                                <h3>Women</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init" data-aos="fade" data-aos-delay="100">
                        <a class="block-2-item" href="#">
                            <figure class="image">
                                <img src="images/children.jpg" alt="" class="img-fluid">
                            </figure>
                            <div class="text">
                                <span class="text-uppercase">Collections</span>
                                <h3>Children</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init" data-aos="fade" data-aos-delay="200">
                        <a class="block-2-item" href="#">
                            <figure class="image">
                                <img src="images/men.jpg" alt="" class="img-fluid">
                            </figure>
                            <div class="text">
                                <span class="text-uppercase">Collections</span>
                                <h3>Men</h3>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
        @RenderSection("SiteFooter")
    </div>
    <script src="~/Content/Client/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Client/js/jquery-ui.js"></script>
    <script src="~/Content/Client/js/popper.min.js"></script>
    <script src="~/Content/Client/js/bootstrap.min.js"></script>
    <script src="~/Content/Client/js/owl.carousel.min.js"></script>
    <script src="~/Content/Client/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Client/js/aos.js"></script>
    <script src="~/Content/Client/js/main.js"></script>
</body>
</html>
