<!DOCTYPE html>
<html lang="en">
<head>

    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="~/Content/Client/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Client/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/Client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/aos.css">
    <link rel="stylesheet" href="~/Content/Client/css/style.css">

</head>
<body>

    <div class="site-wrap">
        @RenderSection("SiteNavBar")
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
                </div>
            </div>
        </div>
        @RenderBody()
        @RenderSection("SiteBlocks3")
        @RenderSection("SiteFooter")
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
    <script src="~/Content/Client/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Client/js/jquery-ui.js"></script>
    <script src="~/Content/Client/js/popper.min.js"></script>
    <script src="~/Content/Client/js/bootstrap.min.js"></script>
    <script src="~/Content/Client/js/owl.carousel.min.js"></script>
    <script src="~/Content/Client/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Client/js/aos.js"></script>
    <script src="~/Content/Client/js/main.js"></script>
</body>
</html>
