@model dynamic
<div class="border p-4 rounded mb-4">
    <h3 class="mb-3 h6 text-uppercase text-black d-block">CATEGORIES</h3>
    <ul class="list-unstyled mb-0">
        @foreach (var item in Model)
        {
            <li class="mb-1"><a href="#" class="d-flex"><span>@item.TenLoai</span></a></li>
        }
    </ul>
</div>



