@model dynamic
<div class="header-bottom">
    <div class="wrap">
        <!-- start header menu -->
        <ul class="megamenu skyblue">
            <li><a class="color1" href="#">Home</a></li>
            @foreach (var item in Model)
            {
                <li><a href="#">@item.TenLoai</a></li>
            }
        </ul>
        <div class="clear"></div>
    </div>
</div>

